@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container text-center">
    <div class="row">
        <div class="col-4">
            <div class="list-group">
                @foreach(var block in Model.Chain.TheChain) {
                    <a href="/?id=@block.Timestamp" class="list-group-item list-group-item-action flex-column align-items-start active">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">@block.BlockHashString</h5>
                            <small>@block.Timestamp</small>
                        </div>
                        <p class="mb-1">@block.MessageSub</p>
                    </a>

                }
            </div>

        </div>

        <div class="col-8 " style="text-align: left;" >
            @{var theblock = Model.Chain.TheChain.FirstOrDefault(x => x.Timestamp == Model.Id);}
            @if  (theblock != null) {
            <h4>Block Hash : @theblock.BlockHashString</h4>
            <h4>Block PreviousHash : @theblock.PreviousBlockHashString</h4>
            <h4>Block Timestamp : @theblock.Timestamp</h4>            
            <h4>Block PreviousTimestamp : @theblock.PreviousTimestamp</h4>
            <h4>Block Message :</h4><br /><textarea style="width: 95%; min-height: 700px;">@theblock.Message</textarea>
            } else {
                <h1>No Block Selected</h1>
            }
        </div>
    </div>
</div>